Repository atc0005/go-teams-notify, pull requests merged in 2024-02, with the labels that each got.

#255 Add `IsSublte` and `HorizontalAlignment` to `Element`
  adaptivecard/adaptivecard.go
  adaptivecard/getters.go
Labels: enhancement, card format/adaptivecard

#256 Update Dependabot PR prefixes
  .github/dependabot.yml
Labels: CI, dependencies

#257 Update CHANGELOG for v2.10.0 release
  CHANGELOG.md
Labels: changelog
