Repository atc0005/go-teams-notify, pull requests merged in 2024-08, with the labels that each got.

#289 Expose `TeamsMessage` interface to support mocking
  send.go
Labels: enhancement, tests, api

#291 Expose `TeamsMessage` interface to support mocking
  send.go
Labels: enhancement, tests, api

#293 Add MSTeams CodeBlock element
  adaptivecard/adaptivecard.go
  adaptivecard/getters.go
Labels: enhancement, card format/adaptivecard, validation

#298 Update documentation for CodeBlock element
  README.md
  adaptivecard/adaptivecard.go
  examples/adaptivecard/codeblock/main.go
Labels: documentation, enhancement, linting, card format/adaptivecard
